.bdsft-webrtc
  .video
    position relative
    top 0px
    left 0px
    width 100%
    height auto
    box-shadow 0 0 1px rgba(0, 0, 0, 0.05)

    .remote
      display none
      position absolute
      top 0%
      left 0%
      width 100%
      height 100%
      backface-visibility hidden
      box-shadow 0px 0px 10px #000000

    .localVideo
      position absolute
      top auto
      left 0
      bottom 0
      right auto
      width 25%
      height 25%
      background-color transparent
      video
        border-radius 0
        box-shadow none
        background #292929
        border 1px solid #3c3c3c
        cursor move
        width 100%
        height 100%
        position absolute
      .inner
        margin 5px
        position absolute
        top 0
        bottom 0
        right 0
        left 0

    &._960x720 .content, &._640x480 .content, &._320x240 .content
        padding-bottom 75%

    &._1920x1080 .content, &._1280x720 .content, &._640x360 .content, &._320x180 .content, &.hd .content
        padding-bottom 56.25%

    &._960x720
      width 960px

    &._640x360, &._640x480
      width 640px

    &._320x180, &._320x240
      width 320px

    &._1280x720, &.hd
      width 1280px
      
    &._1920x1080
      width 1920px

    &.fullscreen-shown
      padding-bottom 0
      bottom 40px
      position absolute
      height auto !important
      width 100%

    &.started
      .remote
        display: inline;
        box-shadow 0 0 1px rgba(0, 0, 0, 0.1)

    &.bl
      .localVideo
        top auto
        bottom 0
        left 0
        right auto

    &.tl
      .localVideo
        top 0
        bottom auto
        left 0
        right auto

    &.tr
      .localVideo
        top 0
        bottom auto
        left auto !important
        right 0

    &.br
      .localVideo
        top auto
        bottom 0
        left auto !important
        right 0

    &._1x
      .localVideo
        width 25%
        height 25%

    &._2x
      .localVideo
        width 50%
        height 50%

    &.audioOnly
      display none !important
      
    &.enableSelfView:not(.video-hidden) .localVideo
      {fadeIn}

    &.enableSelfView.video-hidden .localVideo
      {fadeOut}

  :-webkit-full-screen
    .remote
      z-index 1
    .localVideo
      z-index 2

  :-webkit-full-screen .remote, 
  :-webkit-full-screen .localVideo
    border none
    border-radius 0

    
  @css {
    .bdsft-webrtc .video {
      background: url('data:image/svg+xml;base64,<%= videobg %>') no-repeat left center;
      background-size: cover;
    }
  }